.container {
  margin: 5rem auto;
  background-color: white;
  border-radius: 9px;
  overflow: hidden;
  width: 80rem;
  height: 50rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.flex-container__vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.player {
  background-color: rgba(255, 111, 72, 0.348);
  color: rgba(0, 0, 0, 0.2);
}
.active {
  background-color: rgba(72, 90, 255, 0.348);
  color: rgba(0, 0, 0, 1);
}

.player-name {
  font-size: 4.8rem;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
}

.total-score {
  font-size: 8.4rem;
  font-weight: 300;
  color: rgba(255, 68, 0, 0.619);
  text-align: center;
}

.current-score {
  margin: 0 auto;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: orangered;
  display: flex;
  align-items: center;
  justify-content: center;
}
.current-score p {
  transform: translateY(-0.25rem);
  font-size: 3.2rem;
  line-height: 7rem;
}

.dice-container {
  background: rgba(255, 68, 0, 0.619);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  height: 8rem;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
}

button {
  border: none;
  padding: 1rem 2rem;
  background-color: rgba(255, 68, 0, 0.5);
  font-size: 1.4rem;
  font-weight: 300;
}
button:active {
  background-color: rgba(255, 68, 0, 1);
}

.dice {
  width: 6.4rem;
}

.hidden {
  display: none;
}
